
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if active_channel == '概况' %}class="active"{% endif %}><a href="main">概况</a></li>
            <li {% if active_channel == '主题' %}class="active"{% endif %}><a href="topic-list">主题</a></li>
            <li {% if active_channel == '内容' %}class="active"{% endif %}><a href="content-list">内容</a></li>
            <li {% if active_channel == '淘宝客' %}class="active"{% endif %}><a href="taoke-list">淘宝客</a></li>
          </ul>            
        </div>



